{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="app-wrap">
    <header>
        <form action="{% url 'search_city' %}" method="get">
            {% csrf_token %}
            <p>
                <input type="text" name="search" autocomplete="off" class="search-box" placeholder="Найти город"/>
            </p>
        </form>
    </header>
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>